
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='css/estilos.css')
  link(href='https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap' rel='stylesheet')
  title PELICULAS
header
  .contenedor
    h2.logotipo CARTELERA
    nav
      a.activo(href='#') Inicio
      a(href='#') Programas
      a(href='#') Pelculas
      a(href='#') Mas Recientes
      a(href='#') Mi lista
main
  .pelicula-principal
    .contenedor
      h3.titulo Interestellar
      p.descripcion
        | Narra las aventuras de un grupo de exploradores que hacen uso de un agujero de gusano recientemente descubierto para superar las limitaciones de los viajes espaciales tripulados y vencer las inmensas distancias que tiene un viaje interestelar. 
        p Fecha de estreno 26 de octubre de 2014

      button.boton(role='button')
        i.fas.fa-play
        | Preventa
      button.boton(role='button')
        i.fas.fa-info-circle
        | Mas informacion
  .peliculas-recomendadas.contenedor
    .contenedor-titulo-controles
      h3 Peliculas Recomendadas
      .indicadores
    .contenedor-principal
      button#flecha-izquierda.flecha-izquierda(role='button')
        i.fas.fa-angle-left
      .contenedor-carousel
        .carousel
          .pelicula
            a(href='#')
              img(src='img/1.png' alt='')
          .pelicula
            a(href='#')
              img(src='img/2.png' alt='')
          .pelicula
            a(href='#')
              img(src='img/3.png' alt='')
          .pelicula
            a(href='#')
              img(src='img/4.png' alt='')
          .pelicula
            a(href='#')
              img(src='img/5.png' alt='')
          .pelicula
            a(href='#')
              img(src='img/6.png' alt='')
          .pelicula
            a(href='#')
              img(src='img/7.png' alt='')
          .pelicula
            a(href='#')
              img(src='img/1.png' alt='')
          .pelicula
            a(href='#')
              img(src='img/2.png' alt='')
          .pelicula
            a(href='#')
              img(src='img/3.png' alt='')
          .pelicula
            a(href='#')
              img(src='img/1.png' alt='')
          .pelicula
            a(href='#')
              img(src='img/2.png' alt='')
          .pelicula
            a(href='#')
              img(src='img/3.png' alt='')
          .pelicula
            a(href='#')
              img(src='img/4.png' alt='')
          .pelicula
            a(href='#')
              img(src='img/5.png' alt='')
          .pelicula
            a(href='#')
              img(src='img/6.png' alt='')
          .pelicula
            a(href='#')
              img(src='img/7.png' alt='')
          .pelicula
            a(href='#')
              img(src='img/1.png' alt='')
          .pelicula
            a(href='#')
              img(src='img/2.png' alt='')
          .pelicula
            a(href='#')
              img(src='img/3.png' alt='')
          .pelicula
            a(href='#')
              img(src='img/4.png' alt='')
      button#flecha-derecha.flecha-derecha(role='button')
        i.fas.fa-angle-right
script(src='https://kit.fontawesome.com/2c36e9b7b1.js' crossorigin='anonymous')
script(src='js/main.js')
