
aside 

body 
link(rel='stylesheet' href='css/home.css')
// Caption on the left
figure.figure
  img.figure-img(src='img/spider.jpg' alt='')
  hr
  p Sinopsis:Llega el esperado estreno junto con más de una hora de increíbterial adicional nunca antes visto! Material adicional en idioma original sin subtítulos. Por primera vez en la historia cinematográfica de Spider- Man, nuestro amistoso héroe y vecino es desenmascarado, y ya no puede separar su vida normal de los altos riesgos de ser un súper héroe. Cuando pide ayuda a Doctor Strange, estos riesgos se vuelven más peligrosos, forzándolo a descubrir lo que realmente significa ser Spider-Man Fecha de Estreno 16 de diciembre del 2021
  hr
// Caption in the center
figure.figure
  img.figure-img(src='img/batman.jpg' alt='')
  hr
  p Sinopsis El director Matt Reeves (películas de “El Planeta de los Simios”) está al frente con Robert Pattinson (“Tenet”, “El Faro”, “Good Time: Viviendo al Límite”) quien protagoniza a Batman —el detective vigilante de Ciudad Gótica— y a el multimillonario Bruce Wayne. Estreno Marzo 4 del 2022
  hr
// Caption on the right
figure.figure
  img.figure-img(src='img/sonic.jpg' alt='')
  hr
  p Sinopsis Después de establecerse en Green Hills, Sonic está ansioso por demostrar que tiene lo que se necesita para ser un verdadero héroe. Su prueba llega cuando el Dr. Robotnik regresa a buscar una esmeralda que tiene el poder de destruir civilizaciones, esta vez con un nuevo aliado, Knuckles. Sonic se une a su propio compañero, Tails, y juntos se embarcan en un viaje alrededor del mundo para encontrar la esmeralda antes de que caiga en las manos equivocadas. Fecha de estreno 2 de abril de 20222 de abril de 2022
  hr